USE [QLKhachSan]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE07]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE07]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE06]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE06]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE05]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE05]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE04]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE04]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE03]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE03]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE02]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE02]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE01]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE01]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE]    Script Date: 10/16/2021 7:33:09 PM ******/
DROP PROCEDURE [dbo].[TAO_TABLE]
GO
ALTER TABLE [dbo].[TRUONGDOAN] DROP CONSTRAINT [FK_TRUONGDOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[THIETBI] DROP CONSTRAINT [FK_THIETBI_LOAIPHONG]
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] DROP CONSTRAINT [FK_SUDUNGDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] DROP CONSTRAINT [FK_SUDUNGDICHVU_DANHSACHSUDUNGDICHVU]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_LOAITINHTRANG]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] DROP CONSTRAINT [FK_PHIEUDATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUBOITHUONGTB] DROP CONSTRAINT [FK_BOITHUONGTB_NHANPHONG]
GO
ALTER TABLE [dbo].[NHANPHONG] DROP CONSTRAINT [FK_NHANPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[NHANPHONG] DROP CONSTRAINT [FK_NHANPHONG_DATPHONG]
GO
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG] DROP CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK_HOADON_MANHANPHONG]
GO
ALTER TABLE [dbo].[HOADON] DROP CONSTRAINT [FK_HOADON_MAKHACHHANG]
GO
ALTER TABLE [dbo].[DICHVU] DROP CONSTRAINT [FK_DICHVU_LOAIDICHVU]
GO
ALTER TABLE [dbo].[DANHSACHSUDUNGDICHVU] DROP CONSTRAINT [FK_DANHSACHSUDUNGDICHVU_NHANPHONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_PHONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_PHIEUBOITHUONGTB]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_DANHSACHSUDUNGDICHVU]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_CHUONGTRINHKHUYENMAI]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [FK_CHITIETHOADON_CHINHSACHTRAPHONG]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] DROP CONSTRAINT [FK_CHITIETDATPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] DROP CONSTRAINT [FK_CHITIETDATPHONG_PHIEUDATPHONG]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] DROP CONSTRAINT [FK_CHITIETBOITHUONGTB_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] DROP CONSTRAINT [FK_CHITIETBOITHUONGTB_PHONG]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] DROP CONSTRAINT [FK_CHITIETBOITHUONGTB_BOITHUONGTB]
GO
ALTER TABLE [dbo].[CHITETNHANPHONG] DROP CONSTRAINT [FK_CHITETNHANPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITETNHANPHONG] DROP CONSTRAINT [FK_CHITETNHANPHONG_NHANPHONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] DROP CONSTRAINT [DF_CHITIETHOADON_TienBT]
GO
/****** Object:  Table [dbo].[TRUONGDOAN]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRUONGDOAN]') AND type in (N'U'))
DROP TABLE [dbo].[TRUONGDOAN]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TINTUC]') AND type in (N'U'))
DROP TABLE [dbo].[TINTUC]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THIETBI]') AND type in (N'U'))
DROP TABLE [dbo].[THIETBI]
GO
/****** Object:  Table [dbo].[SUDUNGDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SUDUNGDICHVU]') AND type in (N'U'))
DROP TABLE [dbo].[SUDUNGDICHVU]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUYDINH]') AND type in (N'U'))
DROP TABLE [dbo].[QUYDINH]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHONG]') AND type in (N'U'))
DROP TABLE [dbo].[PHONG]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUDATPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEUDATPHONG]
GO
/****** Object:  Table [dbo].[PHIEUBOITHUONGTB]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEUBOITHUONGTB]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEUBOITHUONGTB]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANVIEN]') AND type in (N'U'))
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NHANPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHANPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[NHANPHONG]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUOIDUNG]') AND type in (N'U'))
DROP TABLE [dbo].[NGUOIDUNG]
GO
/****** Object:  Table [dbo].[LOAITINHTRANG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAITINHTRANG]') AND type in (N'U'))
DROP TABLE [dbo].[LOAITINHTRANG]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAIPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[LOAIPHONG]
GO
/****** Object:  Table [dbo].[LOAINGUOIDUNG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAINGUOIDUNG]') AND type in (N'U'))
DROP TABLE [dbo].[LOAINGUOIDUNG]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAIDICHVU]') AND type in (N'U'))
DROP TABLE [dbo].[LOAIDICHVU]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACHHANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACHHANG]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOADON]') AND type in (N'U'))
DROP TABLE [dbo].[HOADON]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DICHVU]') AND type in (N'U'))
DROP TABLE [dbo].[DICHVU]
GO
/****** Object:  Table [dbo].[DANHSACHSUDUNGDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANHSACHSUDUNGDICHVU]') AND type in (N'U'))
DROP TABLE [dbo].[DANHSACHSUDUNGDICHVU]
GO
/****** Object:  Table [dbo].[CHUONGTRINHKHUYENMAI]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHUONGTRINHKHUYENMAI]') AND type in (N'U'))
DROP TABLE [dbo].[CHUONGTRINHKHUYENMAI]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETHOADON]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETHOADON]
GO
/****** Object:  Table [dbo].[CHITIETDATPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETDATPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETDATPHONG]
GO
/****** Object:  Table [dbo].[CHITIETBOITHUONGTB]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITIETBOITHUONGTB]') AND type in (N'U'))
DROP TABLE [dbo].[CHITIETBOITHUONGTB]
GO
/****** Object:  Table [dbo].[CHITETNHANPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHITETNHANPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[CHITETNHANPHONG]
GO
/****** Object:  Table [dbo].[CHINHSACHTRAPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHINHSACHTRAPHONG]') AND type in (N'U'))
DROP TABLE [dbo].[CHINHSACHTRAPHONG]
GO
/****** Object:  Table [dbo].[CHINHSACHTRAPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHSACHTRAPHONG](
	[MaChinhSach] [varchar](10) NOT NULL,
	[ThoiGianQuiDinh] [nvarchar](50) NULL,
	[PhuThu] [float] NULL,
 CONSTRAINT [PK_CHINHSACHTRAPHONG] PRIMARY KEY CLUSTERED 
(
	[MaChinhSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITETNHANPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITETNHANPHONG](
	[MaNhanPhong] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayNhan] [datetime] NULL,
	[NgayTraDuKien] [datetime] NULL,
	[NgayTraThucTe] [datetime] NULL,
 CONSTRAINT [PK_MANHANPHONG_MAPHONG] PRIMARY KEY CLUSTERED 
(
	[MaNhanPhong] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBOITHUONGTB]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBOITHUONGTB](
	[MABTTB] [varchar](10) NOT NULL,
	[MaThietBi] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[Soluong] [int] NULL,
	[TienBT] [float] NULL,
 CONSTRAINT [PK_MABTTB_MATB_MAPHONG] PRIMARY KEY CLUSTERED 
(
	[MABTTB] ASC,
	[MaThietBi] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATPHONG](
	[MaPhieuDat] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[NgayNhan] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[SoNguoi] [int] NULL,
 CONSTRAINT [PK_MAPHIEUDAT_MALOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[MaSuDungDichVu] [varchar](10) NULL,
	[MaCTKM] [varchar](10) NULL,
	[MaBTTB] [varchar](10) NULL,
	[MaChinhSach] [varchar](10) NULL,
	[GiamGia] [int] NULL,
	[PhuThu] [float] NULL,
	[TienPhong] [float] NULL,
	[TienDichVu] [float] NULL,
	[TienBT] [float] NULL,
	[HinhThucThanhToan] [nvarchar](50) NULL,
	[ThoiGian] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUONGTRINHKHUYENMAI]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONGTRINHKHUYENMAI](
	[MaCTKM] [varchar](10) NOT NULL,
	[TenCTKM] [nvarchar](100) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GiamGia] [int] NULL,
 CONSTRAINT [PK_CHUONGTRINHKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MaCTKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACHSUDUNGDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHSUDUNGDICHVU](
	[MaSuDungDichVu] [varchar](10) NOT NULL,
	[MaNhanPhong] [varchar](10) NULL,
	[TienDichVu] [float] NULL,
 CONSTRAINT [PK_DANHSACHSUDUNGDICHVU_1] PRIMARY KEY CLUSTERED 
(
	[MaSuDungDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDichVu] [varchar](10) NOT NULL,
	[MaLoaiDichVu] [varchar](10) NULL,
	[TenDichVu] [nvarchar](50) NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [varchar](10) NOT NULL,
	[MaNhanVien] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[MaNhanPhong] [varchar](10) NOT NULL,
	[TongTien] [float] NULL,
	[NgayLap] [date] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[CMND] [varchar](12) NOT NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[QuocTich] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDICHVU](
	[MaLoaiDichVu] [varchar](10) NOT NULL,
	[TenLoaiDichVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAIDICHVU] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINGUOIDUNG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINGUOIDUNG](
	[MaLoaiNguoiDung] [varchar](10) NOT NULL,
	[TenLoaiNguoiDung] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAINGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[SoNguoiChuan] [nvarchar](20) NULL,
	[SoNguoiToiDa] [nvarchar](20) NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_MALOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITINHTRANG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITINHTRANG](
	[MaLoaiTinhTrangPhong] [varchar](5) NOT NULL,
	[TenLoaiTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_MALOAITINHTRANG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTinhTrangPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MaNhanVien] [varchar](10) NOT NULL,
	[MaLoaiNguoiDung] [varchar](10) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [varchar](20) NULL,
	[TinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC,
	[MaLoaiNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANPHONG](
	[MaNhanPhong] [varchar](10) NOT NULL,
	[MaPhieuDat] [varchar](10) NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
 CONSTRAINT [PK_MANHANPHONG] PRIMARY KEY CLUSTERED 
(
	[MaNhanPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [varchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[NgayVaoLam] [date] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBOITHUONGTB]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBOITHUONGTB](
	[MaBTTB] [varchar](10) NOT NULL,
	[MaNhanPhong] [varchar](10) NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_MABTTB] PRIMARY KEY CLUSTERED 
(
	[MaBTTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATPHONG](
	[MaPhieuDat] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEUDATPHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [varchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NULL,
	[MaLoaiTinhTrangPhong] [varchar](5) NULL,
	[Tang] [nvarchar](20) NULL,
	[DienTich] [varchar](10) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[Hinh] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[TenQuiDinh] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[TenQuiDinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUDUNGDICHVU]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGDICHVU](
	[MaSuDungDichVu] [varchar](10) NOT NULL,
	[MaDichVu] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SUDUNGDICHVU_1] PRIMARY KEY CLUSTERED 
(
	[MaSuDungDichVu] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MaThietBi] [varchar](10) NOT NULL,
	[TenThietBi] [nvarchar](200) NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[DonViTinh] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MaTinTuc] [varchar](10) NOT NULL,
	[TenTinTuc] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayDang] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRUONGDOAN]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRUONGDOAN](
	[MaTD] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NOT NULL,
	[TenTruongDoan] [nvarchar](50) NULL,
	[CMND] [varchar](12) NOT NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[TenCongTy] [nvarchar](50) NULL,
 CONSTRAINT [PK_MATD_MAKH] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC,
	[MaTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHINHSACHTRAPHONG] ([MaChinhSach], [ThoiGianQuiDinh], [PhuThu]) VALUES (N'CSTP001', N'Trả phòng trễ 1 giờ', 30000)
INSERT [dbo].[CHINHSACHTRAPHONG] ([MaChinhSach], [ThoiGianQuiDinh], [PhuThu]) VALUES (N'CSTP002', N'Trả phòng trễ 2 giờ', 50000)
INSERT [dbo].[CHINHSACHTRAPHONG] ([MaChinhSach], [ThoiGianQuiDinh], [PhuThu]) VALUES (N'CSTP003', N'Trả phòng trễ 3 giờ', 80000)
GO
INSERT [dbo].[CHITETNHANPHONG] ([MaNhanPhong], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe]) VALUES (N'NP001', N'DBL301', CAST(N'2021-10-14T00:00:00.000' AS DateTime), CAST(N'2021-10-14T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CHITETNHANPHONG] ([MaNhanPhong], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe]) VALUES (N'NP002', N'DBL303', CAST(N'2021-10-15T00:00:00.000' AS DateTime), CAST(N'2021-10-15T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[CHITETNHANPHONG] ([MaNhanPhong], [MaPhong], [NgayNhan], [NgayTraDuKien], [NgayTraThucTe]) VALUES (N'NP003', N'DBL302', CAST(N'2021-10-15T00:00:00.000' AS DateTime), CAST(N'2021-10-15T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[CHITIETDATPHONG] ([MaPhieuDat], [MaPhong], [NgayLap], [NgayNhan], [NgayTra], [SoNguoi]) VALUES (N'DP001', N'DBL301', CAST(N'2021-10-14T00:00:00.000' AS DateTime), CAST(N'2021-10-14T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[CHITIETDATPHONG] ([MaPhieuDat], [MaPhong], [NgayLap], [NgayNhan], [NgayTra], [SoNguoi]) VALUES (N'DP002', N'DBL303', CAST(N'2021-10-15T00:00:00.000' AS DateTime), CAST(N'2021-10-15T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[CHITIETDATPHONG] ([MaPhieuDat], [MaPhong], [NgayLap], [NgayNhan], [NgayTra], [SoNguoi]) VALUES (N'DP003', N'DBL302', CAST(N'2021-10-15T00:00:00.000' AS DateTime), CAST(N'2021-10-15T00:00:00.000' AS DateTime), NULL, 1)
GO
INSERT [dbo].[CHUONGTRINHKHUYENMAI] ([MaCTKM], [TenCTKM], [NgayBatDau], [NgayKetThuc], [GiamGia]) VALUES (N'CTKM001', N'Giáng Sinh Noel', CAST(N'2020-12-20' AS Date), CAST(N'2020-12-30' AS Date), 24)
INSERT [dbo].[CHUONGTRINHKHUYENMAI] ([MaCTKM], [TenCTKM], [NgayBatDau], [NgayKetThuc], [GiamGia]) VALUES (N'CTKM002', N'Tết Dương Lịch', CAST(N'2020-12-25' AS Date), CAST(N'2021-01-10' AS Date), 15)
INSERT [dbo].[CHUONGTRINHKHUYENMAI] ([MaCTKM], [TenCTKM], [NgayBatDau], [NgayKetThuc], [GiamGia]) VALUES (N'CTKM003', N'Tết Nguyên Đán', CAST(N'2021-01-15' AS Date), CAST(N'2021-02-20' AS Date), 20)
GO
INSERT [dbo].[DICHVU] ([MaDichVu], [MaLoaiDichVu], [TenDichVu], [DonViTinh], [DonGia]) VALUES (N'DVGL001', N'DVGL', N'Giặt ủi quần áo', N'KG', 15000)
INSERT [dbo].[DICHVU] ([MaDichVu], [MaLoaiDichVu], [TenDichVu], [DonViTinh], [DonGia]) VALUES (N'DVGL002', N'DVGL', N'Vệ sinh giày dép', N'Đôi', 50000)
INSERT [dbo].[DICHVU] ([MaDichVu], [MaLoaiDichVu], [TenDichVu], [DonViTinh], [DonGia]) VALUES (N'DVTA001', N'DVTA', N'Snack', N'Bịch', 3000)
GO
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [CMND], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh], [QuocTich], [Email]) VALUES (N'KH001', N'Nguyễn Khánh Nam', N'301711991', N'Nam', N'Bình Định', N'0326685588', CAST(N'1990-05-16' AS Date), N'Việt Nam', NULL)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [CMND], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh], [QuocTich], [Email]) VALUES (N'KH0010', N'Lê Nhật Minh', N'8246108', N'Nam', N'34 Trương Định, Q3, TpHCM', N'0824595458', CAST(N'1950-10-03' AS Date), N'Việt Nam', NULL)
INSERT [dbo].[KHACHHANG] ([MaKhachHang], [TenKhachHang], [CMND], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh], [QuocTich], [Email]) VALUES (N'KH0012', N'Nguyễn Văn Tâm', N'916783565', N'Nam', N'32/3 Trần Bình Trọng, Q5, TpHCM', N'0398495458', CAST(N'1971-06-04' AS Date), N'Việt Nam', NULL)
GO
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (N'DVGL', N'Giặt là')
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (N'DVTA', N'Thức ăn')
INSERT [dbo].[LOAIDICHVU] ([MaLoaiDichVu], [TenLoaiDichVu]) VALUES (N'DVTU', N'Thức uống')
GO
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (N'Q001', N'Quản lý')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (N'Q002', N'Đặt phòng, Nhận phòng, Trả phòng')
INSERT [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung], [TenLoaiNguoiDung]) VALUES (N'Q003', N'Dịch vụ')
GO
INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia], [SoNguoiChuan], [SoNguoiToiDa], [MoTa]) VALUES (N'DBL', N'Phòng Double bed room', 60000, N'2', N'2', N'Là loại phòng có 1 giường lớn cho 2 người ở ngủ.')
INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia], [SoNguoiChuan], [SoNguoiToiDa], [MoTa]) VALUES (N'EX', N'Phòng Executive', 200000, N'2', N'3', N'Là loại phòng cao cấp nhất trong một khách sạn, bên cạnh phòng có 
diện tích lớn còn có tầm nhìn đẹp và những dịch vụ tốt nhất.')
INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [DonGia], [SoNguoiChuan], [SoNguoiToiDa], [MoTa]) VALUES (N'KG', N'Phòng King', 300000, N'2', N'2', N'Là loại phòng sang trọng và cao cấp bậc nhất. Sở hữu trang thiết bị hiện đại, tân tiến nhất 
cùng các dịch vụ “thượng đế”, phòng King có chi phí vô cùng đắt đỏ.')
GO
INSERT [dbo].[LOAITINHTRANG] ([MaLoaiTinhTrangPhong], [TenLoaiTinhTrang]) VALUES (N'TT01', N'Phòng Trống')
INSERT [dbo].[LOAITINHTRANG] ([MaLoaiTinhTrangPhong], [TenLoaiTinhTrang]) VALUES (N'TT02', N'Phòng Đã Được Đặt')
INSERT [dbo].[LOAITINHTRANG] ([MaLoaiTinhTrangPhong], [TenLoaiTinhTrang]) VALUES (N'TT03', N'Phòng Đã Được Nhận')
GO
INSERT [dbo].[NGUOIDUNG] ([MaNhanVien], [MaLoaiNguoiDung], [TenDangNhap], [MatKhau], [TinhTrang]) VALUES (N'NVADMIN001', N'Q001', N'adminquang', N'quang200117', N'Hoạt động')
INSERT [dbo].[NGUOIDUNG] ([MaNhanVien], [MaLoaiNguoiDung], [TenDangNhap], [MatKhau], [TinhTrang]) VALUES (N'NVADMIN002', N'Q001', N'adminvan', N'van200117', N'Hoạt động')
INSERT [dbo].[NGUOIDUNG] ([MaNhanVien], [MaLoaiNguoiDung], [TenDangNhap], [MatKhau], [TinhTrang]) VALUES (N'NVLT001', N'Q002', N'tuanlinh', N'tuanlinh1994', N'Hoạt động')
GO
INSERT [dbo].[NHANPHONG] ([MaNhanPhong], [MaPhieuDat], [MaKhachHang]) VALUES (N'NP001', N'DP001', N'KH0015')
INSERT [dbo].[NHANPHONG] ([MaNhanPhong], [MaPhieuDat], [MaKhachHang]) VALUES (N'NP002', N'DP002', N'KH009')
INSERT [dbo].[NHANPHONG] ([MaNhanPhong], [MaPhieuDat], [MaKhachHang]) VALUES (N'NP003', N'DP003', N'KH0015')
GO
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu], [NgayVaoLam]) VALUES (N'NVADMIN001', N'Nguyễn Hồng Quang', N'Nam', CAST(N'1999-10-08' AS Date), N'Long An', N'0365458245', N'Quản lý Phần Mềm', CAST(N'2019-05-25' AS Date))
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu], [NgayVaoLam]) VALUES (N'NVADMIN002', N'Trần Thị Thanh Vân', N'Nũ', CAST(N'1999-02-20' AS Date), N'An Giang', N'0760145454', N'Quản lý Phần Mềm', CAST(N'2019-05-25' AS Date))
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [TenNhanVien], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu], [NgayVaoLam]) VALUES (N'NVBNAN003', N'Chíu Nhật Lê', N'Nam', CAST(N'1997-01-03' AS Date), N'Bến Tre', N'0383565632', N'Nhân viên bảo vệ', CAST(N'2019-08-29' AS Date))
GO
INSERT [dbo].[PHIEUDATPHONG] ([MaPhieuDat], [MaKhachHang]) VALUES (N'DP001', N'KH0015')
INSERT [dbo].[PHIEUDATPHONG] ([MaPhieuDat], [MaKhachHang]) VALUES (N'DP002', N'KH009')
INSERT [dbo].[PHIEUDATPHONG] ([MaPhieuDat], [MaKhachHang]) VALUES (N'DP003', N'KH0015')
GO
INSERT [dbo].[PHONG] ([MaPhong], [MaLoaiPhong], [MaLoaiTinhTrangPhong], [Tang], [DienTich], [GhiChu], [Hinh]) VALUES (N'DBL301', N'DBL', N'TT03', N'3', N'16m2', N'Phòng Double bed room số 1 tầng 3', NULL)
INSERT [dbo].[PHONG] ([MaPhong], [MaLoaiPhong], [MaLoaiTinhTrangPhong], [Tang], [DienTich], [GhiChu], [Hinh]) VALUES (N'DBL302', N'DBL', N'TT03', N'3', N'16m2', N'Phòng Double bed room số 2 tầng 3', NULL)
INSERT [dbo].[PHONG] ([MaPhong], [MaLoaiPhong], [MaLoaiTinhTrangPhong], [Tang], [DienTich], [GhiChu], [Hinh]) VALUES (N'DBL303', N'DBL', N'TT03', N'3', N'16m2', N'Phòng Double bed room số 3 tầng 3', NULL)
GO
INSERT [dbo].[THIETBI] ([MaThietBi], [TenThietBi], [MaPhong], [DonViTinh], [DonGia], [SoLuong]) VALUES (N'TB001', N'Single bed (giường đơn)', N'TWN101', N'Chiếc', 2350000, 2)
INSERT [dbo].[THIETBI] ([MaThietBi], [TenThietBi], [MaPhong], [DonViTinh], [DonGia], [SoLuong]) VALUES (N'TB002', N'Single bed (giường đơn)', N'TWN102', N'Chiếc', 2350000, 2)
INSERT [dbo].[THIETBI] ([MaThietBi], [TenThietBi], [MaPhong], [DonViTinh], [DonGia], [SoLuong]) VALUES (N'TB003', N'Single bed (giường đơn)', N'TWN103', N'Chiếc', 2350000, 2)
GO
INSERT [dbo].[TRUONGDOAN] ([MaTD], [MaKhachHang], [TenTruongDoan], [CMND], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh], [TenCongTy]) VALUES (N'TD001', N'KH001', N'Trần Khánh Nguyên', N'254246987123', N'Nam', N'Ð?ng Nai', N'0384651243', CAST(N'1985-08-28' AS Date), N'Công Ty Ameritec')
INSERT [dbo].[TRUONGDOAN] ([MaTD], [MaKhachHang], [TenTruongDoan], [CMND], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh], [TenCongTy]) VALUES (N'TD002', N'KH005', N'Nguyễn Thị Thơ', N'2456321845', N'Nữ', N'Thành Phố Hồ Chí Minh', N'0374452188', CAST(N'1992-10-01' AS Date), N'Công Ty TNHH Athena')
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  CONSTRAINT [DF_CHITIETHOADON_TienBT]  DEFAULT ((0)) FOR [TienBT]
GO
ALTER TABLE [dbo].[CHITETNHANPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITETNHANPHONG_NHANPHONG] FOREIGN KEY([MaNhanPhong])
REFERENCES [dbo].[NHANPHONG] ([MaNhanPhong])
GO
ALTER TABLE [dbo].[CHITETNHANPHONG] CHECK CONSTRAINT [FK_CHITETNHANPHONG_NHANPHONG]
GO
ALTER TABLE [dbo].[CHITETNHANPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITETNHANPHONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITETNHANPHONG] CHECK CONSTRAINT [FK_CHITETNHANPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBOITHUONGTB_BOITHUONGTB] FOREIGN KEY([MABTTB])
REFERENCES [dbo].[PHIEUBOITHUONGTB] ([MaBTTB])
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] CHECK CONSTRAINT [FK_CHITIETBOITHUONGTB_BOITHUONGTB]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBOITHUONGTB_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] CHECK CONSTRAINT [FK_CHITIETBOITHUONGTB_PHONG]
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBOITHUONGTB_THIETBI] FOREIGN KEY([MaThietBi])
REFERENCES [dbo].[THIETBI] ([MaThietBi])
GO
ALTER TABLE [dbo].[CHITIETBOITHUONGTB] CHECK CONSTRAINT [FK_CHITIETBOITHUONGTB_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATPHONG_PHIEUDATPHONG] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PHIEUDATPHONG] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] CHECK CONSTRAINT [FK_CHITIETDATPHONG_PHIEUDATPHONG]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATPHONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] CHECK CONSTRAINT [FK_CHITIETDATPHONG_PHONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CHINHSACHTRAPHONG] FOREIGN KEY([MaChinhSach])
REFERENCES [dbo].[CHINHSACHTRAPHONG] ([MaChinhSach])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CHINHSACHTRAPHONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CHUONGTRINHKHUYENMAI] FOREIGN KEY([MaCTKM])
REFERENCES [dbo].[CHUONGTRINHKHUYENMAI] ([MaCTKM])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CHUONGTRINHKHUYENMAI]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_DANHSACHSUDUNGDICHVU] FOREIGN KEY([MaSuDungDichVu])
REFERENCES [dbo].[DANHSACHSUDUNGDICHVU] ([MaSuDungDichVu])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_DANHSACHSUDUNGDICHVU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_PHIEUBOITHUONGTB] FOREIGN KEY([MaBTTB])
REFERENCES [dbo].[PHIEUBOITHUONGTB] ([MaBTTB])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_PHIEUBOITHUONGTB]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_PHONG]
GO
ALTER TABLE [dbo].[DANHSACHSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSUDUNGDICHVU_NHANPHONG] FOREIGN KEY([MaNhanPhong])
REFERENCES [dbo].[NHANPHONG] ([MaNhanPhong])
GO
ALTER TABLE [dbo].[DANHSACHSUDUNGDICHVU] CHECK CONSTRAINT [FK_DANHSACHSUDUNGDICHVU_NHANPHONG]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_LOAIDICHVU] FOREIGN KEY([MaLoaiDichVu])
REFERENCES [dbo].[LOAIDICHVU] ([MaLoaiDichVu])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_LOAIDICHVU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MAKHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MAKHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_MANHANPHONG] FOREIGN KEY([MaNhanPhong])
REFERENCES [dbo].[NHANPHONG] ([MaNhanPhong])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_MANHANPHONG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG] FOREIGN KEY([MaLoaiNguoiDung])
REFERENCES [dbo].[LOAINGUOIDUNG] ([MaLoaiNguoiDung])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_LOAINGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANPHONG]  WITH CHECK ADD  CONSTRAINT [FK_NHANPHONG_DATPHONG] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PHIEUDATPHONG] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[NHANPHONG] CHECK CONSTRAINT [FK_NHANPHONG_DATPHONG]
GO
ALTER TABLE [dbo].[NHANPHONG]  WITH CHECK ADD  CONSTRAINT [FK_NHANPHONG_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[NHANPHONG] CHECK CONSTRAINT [FK_NHANPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUBOITHUONGTB]  WITH CHECK ADD  CONSTRAINT [FK_BOITHUONGTB_NHANPHONG] FOREIGN KEY([MaNhanPhong])
REFERENCES [dbo].[NHANPHONG] ([MaNhanPhong])
GO
ALTER TABLE [dbo].[PHIEUBOITHUONGTB] CHECK CONSTRAINT [FK_BOITHUONGTB_NHANPHONG]
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATPHONG_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG] CHECK CONSTRAINT [FK_PHIEUDATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAITINHTRANG] FOREIGN KEY([MaLoaiTinhTrangPhong])
REFERENCES [dbo].[LOAITINHTRANG] ([MaLoaiTinhTrangPhong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAITINHTRANG]
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_DANHSACHSUDUNGDICHVU] FOREIGN KEY([MaSuDungDichVu])
REFERENCES [dbo].[DANHSACHSUDUNGDICHVU] ([MaSuDungDichVu])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_DANHSACHSUDUNGDICHVU]
GO
ALTER TABLE [dbo].[SUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGDICHVU_DICHVU] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
GO
ALTER TABLE [dbo].[SUDUNGDICHVU] CHECK CONSTRAINT [FK_SUDUNGDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_LOAIPHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_LOAIPHONG]
GO
ALTER TABLE [dbo].[TRUONGDOAN]  WITH CHECK ADD  CONSTRAINT [FK_TRUONGDOAN_KHACHHANG] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[TRUONGDOAN] CHECK CONSTRAINT [FK_TRUONGDOAN_KHACHHANG]
GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE]
as select * from PHONG

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE01]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[TAO_TABLE01]
as select * from PHONG where MaLoaiPhong='DBL'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE02]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE02]
as select * from PHONG where MaLoaiPhong='EX'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE03]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE03]
as select * from PHONG where MaLoaiPhong='KG'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE04]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE04]
as select * from PHONG where MaLoaiPhong='QAD'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE05]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE05]
as select * from PHONG where MaLoaiPhong='SUT'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE06]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE06]
as select * from PHONG where MaLoaiPhong='TRPL'

GO
/****** Object:  StoredProcedure [dbo].[TAO_TABLE07]    Script Date: 10/16/2021 7:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TAO_TABLE07]
as select * from PHONG where MaLoaiPhong='TWN'

GO
